body {
background-color: black;
text-align: center;
font-family: Verdana;
  }
  p{
    color: gray;
   font-size: 21px; 
      }
  h1 {
  color: white;
}

a:link {
  color: Aquamarine;
  text-align: center;
}
a:visited {
  color: Aquamarine;
  }
